@font-face {
	font-family: font_tittle;
	src: url(fonts/Slash.ttf);
}

@font-face {
	font-family: font_text;
	src: url(fonts/Hind-Medium.ttf);
}

.animated {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.tittle {
	font-family: font_tittle;
}

.text {
	font-family: font_text !important;
}

body {
	padding: 15px;
}

footer{
	border-top: 1.5pc solid #ccc;
}

.simplemenu {
	background-color: #FFF;
	color: #000;
	padding-left: 100px;
	padding-right: 100px;
	border-bottom: 1px solid #ccc;
}

.simplemenu .tittle {
	font-size: 40px;
	color: #000;
	font-weight: 100;
}

.menuoptions {
	float: right !important;
	position: relative;
	top: 14px;
}

.simplemenu .menuoptions>a {
	color: #000;
	margin-right: 45px;
	font-size: 20px;
	font-family: font_text !important;
	transition: all 0.05s;
}

.simplemenu .menuoptions>a:hover {
	color: #B33A4A;
}

.textintro {
	padding: 100px 9% 0px;
	transition: 0.3s;
}

.textintro h1 {
	line-height: 120px;
	font-size: 90px;
	margin: 0;
	text-align: left;
	text-rendering: optimizeLegibility;
}

.textintro h1>a {
	color: #B33A4A;
	cursor: pointer;
	font-weight: bolder;
}

.textintro p {
	font-size: 22px;
	margin-top: 30px;
	color: #4E4D4D;
}

.textintro p>a {
	color: #4E4D4D;
}

.tittlesection {
	padding-top: 40px;
	padding-left: 0px !important;
}

.contentoptions {
	padding-left: 10%;
	padding-right: 10%;
}

.contentoptions .kol-1 {
	padding: 0px !important;
	margin-top: 20px !important;
}

.contentoptions aside {
	width: 24%;
	padding-left: 0px !important;
	border-right: 2px solid #ccc;
}

.contentoptions aside>ul {
	list-style: none;
	line-height: 40px;
	font-size: 18px;
}

.contentoptions aside>ul>li {
	margin-left: 20px;
}

.contentexplore {
	padding-left: 40px !important;
}

.contentexplore h3 {
	margin-top: 0px !important;
	font-weight: bolder;
}

.contentexplore h4 {
	font-weight: bolder;
}

.contentexplore p {
	font-size: 18px;
}

.tittlesection h2 {
	font-size: 45px;
}

.tittlesection h2::after {
	content: " ";
	border: solid 1.5px #000;
	display: block;
	width: 300px;
	margin-top: 10px;
}

.box {
	padding: 15px !important;
	background-color: #F3B9C1;
	text-align: center;
}

.line {
	border-right: 1px solid #292929;
}

.codeexplore {
	border: 1px solid #ccc;
	padding: 20px !important;
	width: 100%;
	background: transparent;
	margin-top: 20px;
}

.flex-item {
	background: tomato;
	padding: 5px;
	width: 100px;
	height: 100px;
	margin-top: 10px;
	line-height: 100px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	font-family: font_text !important
}

#menuresponsive {
	display: none;
}

#specialunderline::after {
	content: " ";
	border: solid 0px #B33A4A;
	display: block;
	width: 0px;
	/* margin: 20px auto; */
	transition: all 0.5s;
	margin-bottom: -107px;
}

#specialunderline:hover::after {
	border: solid 2px #B33A4A;
	width: 900px;
}

#first {
	padding: 15px !important;
}

@media (max-width: 1400px) {
	/*Pantallas grandes*/
}

@media (max-width: 1270px) {
	.textintro {
		padding: 80px 4% 0px;
	}
}

@media (max-width: 1100px) {
	.textintro {
		padding: 90px 4% 0px;
	}
	.textintro h1 {
		font-size: 75px;
		line-height: 105px;
	}
	#specialunderline:hover::after {
		border: solid 2px #B33A4A;
		width: 750px;
	}
}

@media (max-width: 900px) {
	.textintro {
		padding: 70px 4% 0px;
	}
	.textintro h1 {
		font-size: 60px;
		line-height: 90px;
	}
	#specialunderline:hover::after {
		border: solid 2px #B33A4A;
		width: 650px;
	}
	#specialunderline::after {
		margin-bottom: -105px;
	}
}

@media (max-width: 800px) {
	#menunoresponsive {
		display: none;
	}
	#menuresponsive {
		display: block;
	}
	.simplemenu {
		padding-left: 25px;
		padding-right: 25px;
	}
	#menuresponsive .fa-bars {
		float: right;
		font-size: 35px;
		position: relative;
		top: 10px;
		cursor: pointer;
	}
}

@media (max-width: 700px) {
	.textintro {
		padding: 70px 2% 0px;
		text-align: center;
	}
	.textintro h1 {
		font-size: 55px;
		line-height: 105px;
		text-align: center;
	}
	.textintro p {
		font-size: 20px;
	}
	#specialunderline:hover::after {
		border: solid 0px #B33A4A;
		width: 0px;
	}
}

@media (max-width: 500px) {
	.textintro h1 {
		font-size: 30px;
		line-height: 60px;
		text-align: center;
	}
	#specialunderline::after {
		margin-bottom: -60px;
	}
}