@font-face {
	font-family: font_tittle;
	src: url(fonts/Slash.ttf);
}

.tittle{
	font-family: font_tittle;
}

body {
    padding: 30px;
}

#image-header {
	background: url(img/land.jpg) repeat;
	height: 1px;
}

#text-header {
	margin-top: 4em;
	text-align: center;
}

#text-header h1 {
	font-family: font_tittle;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	font-size: 120px;
	text-shadow: 1px 1px 1px #CCCCCC;
	margin-bottom: 0.3em;
	
}

.simplemenu{
	background-color: darkslategrey;
	color: #FFF;
}

.simplemenu .tittle{
	font-size: 35px;
}