@font-face {
	font-family: font_tittle;
	src: url(fonts/Slash.ttf);
}

@font-face {
	font-family: font_text;
	src: url(fonts/Hind-Medium.ttf);
}

.tittle{
	font-family: font_tittle;
}

.text{
	font-family: font_text;
}

body {
    padding: 15px;
}

#image-header {
	background: url(img/land.png) repeat;
	height: 1px;
}

#text-header {
	margin-top: 10em;
	text-align: center;
}

#text-header h1 {
	font-family: font_tittle;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	font-size: 120px;
	text-shadow: 1px 1px 1px #CCCCCC;
	margin-bottom: 0.3em;
	
}

.simplemenu{
	background-color: rgba(31, 31, 31, 0.93);
	color: #FFF;
}

.simplemenu .tittle{
	font-size: 40px;
	color: #FFF;
	font-weight: 100;
}

.menuoptions{
	float: right !important;
	position: relative;
	top: 14px;
}

.simplemenu .menuoptions>a{
	color: #FFF;
	margin-right: 45px;
	font-size: 22px;
}

#section1{
	margin-top: 8em;
	margin-bottom: 8em;
}

#section1 img{	
	width: 550px;
}