@font-face {
	font-family: font_tittle;
	src: url(fonts/Slash.ttf);
}

@font-face {
	font-family: font_text;
	src: url(fonts/Hind-Medium.ttf);
}

.tittle {
	font-family: font_tittle;
}

.text {
	font-family: font_text !important;
}

body {
	padding: 15px;
}

.simplemenu {
	background-color: #FFF;
	color: #000;
	padding-left: 100px;
	padding-right: 100px;
	border-bottom: 1px solid #ccc;
}

.simplemenu .tittle {
	font-size: 40px;
	color: #000;
	font-weight: 100;
}

.menuoptions {
	float: right !important;
	position: relative;
	top: 14px;
}

.simplemenu .menuoptions>a {
	color: #000;
	margin-right: 45px;
	font-size: 20px;
	font-family: font_text !important;
}

.textintro {
	padding: 60px 9% 0px;
}

.textintro h1 {
	line-height: 120px;
	font-size: 90px;
	margin: 0;
	text-align: left;
	text-rendering: optimizeLegibility;
}

.textintro h1>a {
	color: #B33A4A;
	cursor: pointer;
	font-weight: bolder;
}

.textintro p {
	font-size: 22px;
	margin-top: 30px;
	color: #4E4D4D;
}

.textintro p>a {
	color: #4E4D4D;
}

.discovermore{
	margin-top: 140px !important;
}

.discovermore .fa{
	font-size: 25px !important;
	cursor: pointer;
}

.section1index {
	background-color: #0099B7;
	text-rendering: optimizeLegibility;
	padding: 20px;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 40px;
	display: none;
}

.section1index header>h2 {
	color: #FFF;
	font-weight: bolder;
	font-size: 45px;
	line-height: 70px;
	margin-bottom: 1.66667%;
	margin-top: 0;
}
